body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* input text area */
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 80%;
}


/* top header */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* I noticed this after my project was completed. I have a feeling this */
/* is supposed to go in the text area since the some of the only styling I changed  */
/* was the width for the text area to fill the page */
.description{
  white-space: pre-wrap;
}

/* hour span */
.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

/* left hour block */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* if the hour is in the past */
.past {
  background-color: #d3d3d3;
  color: white;
}

/* if the hour is in the present */
.present {
  background-color: #ff6961;
  color: white;
}

/* if the hour is in the future */
.future {
  background-color: #77dd77;
  color: white;
}

/* save button  */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

/* hover effects */ 
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* adding a little margin below the container */
.container {
  margin-bottom: 5%;
}